.span6-1 img {
    width: 400px;
    height: 540px;
    margin-left: 200px;
    margin-top: 240px;
    z-index: 60;
    position: relative;
}
.span6-2 {
    width: 396px;
    height: 494px;
    background-image: linear-gradient(#364c56, #bf795c);
    padding: auto;
    position: absolute;
    margin-top: 300px;
    margin-left: -440px;
    z-index: 40;
}
.span6-3 img {
    width: 400px;
    height: 540px;
    position: absolute;
    z-index: 60;
    margin-left: 200px;
    margin-top: 150px;
}
.span6-4 {
    width: 454px;
    height: 429px;
    background-image: linear-gradient(#364c56, #bf795c);
    padding: auto;
    position: absolute;
    z-index: 57;
    margin-top: 200px;
    margin-left: 130px;
}
.span6-5 img {
    width: 700px;
    height: 400px;
    position: absolute;
    margin: 730px -120px;
    z-index: 60;
}
.span6-6 {
    background: linear-gradient(
        45deg, 
        rgba(240, 90, 31, 0.5) 0, rgba(241, 112, 13, 0.5) 25%, transparent 25%, transparent 50%, 
        rgba(248, 73, 19, 0.5) 50%, rgba(239, 106, 11, 0.5) 75%, transparent 75%, transparent
      );
        background-size: 20px 20px;
        padding: 200px;
        margin-left: 280px;
        margin-top: 290px;
}   
.span6-7 {
    background: linear-gradient(
        45deg, 
        rgba(146, 138, 136, 0.505) 0, rgba(155, 138, 130, 0.5) 25%, transparent 25%, transparent 50%, 
        rgba(222, 207, 203, 0.5) 50%, rgba(170, 145, 136, 0.5) 75%, transparent 75%, transparent
      );
        background-size: 20px 20px;
        padding: 100px;
        position: absolute;
        margin-left: -1000px;
        margin-top: 700px;
        z-index: 22;
        height: 200px;
}